<h1>Pagina de administração</h1>
<hr>
<a href="/admin/categorias"><button class="btn btn-success btn-lg">Categorias</button></a>
<hr>
<a href="/admin/postagens"><button class="btn btn-success btn-lg">Postagens</button></a>